body{
    background: #183651;
    padding: 0 auto;
}

#LogoJogo{
    width: 90%;
}

.caixa{
    position: relative;
    width: 900px;
    margin: 45px 60px 106px 455px;
}

nav li{
    display: block;
    text-align: center;
    width: 55%;
    margin: 20 2.5%;
    margin-top: 30px;
    padding: 30px;
    box-sizing: border-box;
    border: 6px solid #000000;
    border-radius: 20px;
    background-color: rgb(240, 52, 52);
    box-shadow: 4px 4px 4   px rgb(32, 28, 28);
}

nav a{
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    color: #000000;
    font-size: 50px;
}

nav li:hover{
    box-shadow: 5px 5px 5px rgb(32, 28, 28);

}

nav li:hover, nav a:hover{
    color: #7c0101;
    font-size: 52px;
    cursor: pointer;
}

nav li:active{
    border-color:#138891

}

nav a:active{
    color:#138891
}

footer{
    text-align: center;
    background: #3d9dca;
    padding: 2px 0;
}

#Univille{
    position: relative;
    width: 4%;
    margin: 0.5px;
}
