header{
    background: #183651;
    padding: 2px 2px;
}

body{
    background: #183651;
    padding: 5px 0;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}

#LogoJogo{
    width: 35%;
    margin: 10px 10px;
    padding: 5px;
    border: 5px solid #000000;
    border-radius: 8px;
    background-color: rgb(0, 0, 0);
    box-shadow: 7px 7px 7px rgb(32, 28, 28);
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0px 0px 0px 650px;
    display:inline-block;
}

nav{
    position: absolute;
    top: 20px;
    right: 20px;
}

nav li{
    text-align: right;
    display:inline-block;
    margin: 10px 10px 10px 0px;
    padding: 10px;
    border: 5px solid #000000;
    border-radius: 8px;
    background-color: rgb(240, 52, 52);
    box-shadow: 7px 7px 7px rgb(32, 28, 28);
}

nav a{
    font-family:'Courier New', Courier, monospace;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

nav li:hover, nav a:hover{
    color: #7c0101;
    font-size: 20px;
}

nav li:active{
    border-color:#138891

}

nav a:active{
    color:#138891
}

#SobreNos{
    font-size: 30px;
    margin: 94px 150px 110px 150px;
    padding: 12px;
    border: 5px solid #000000;
    border-radius: 8px;
    background-color: #3d9dca;
    box-shadow: 7px 7px 7px rgb(32, 28, 28);
    list-style-type: disc;
}

footer{
    text-align: center;
    background: #3d9dca;
    padding: 6px 0;
}

#Univille{
    position: relative;
    width: 4%;
    margin: 0.5px 0.5px;
}
